{% extends '::base.html.twig' %}

{% block title %}Action réussie{% endblock %}

{% block body %}
L'action a bien été réalisé. <a href="{{ path('gestion_article_auteur_index') }}">cliquez ici</a> pour retourner à la page d'accueil.
{% endblock %}